h1 {
    color: peru;
}
main h1{
    color: purple;
}
.color-verde{
    color: green;
}
/*
Parrafo grande por peticion del cliente
*/
#parrafo{
    font-size: 40px;
}
/* 
Estilo para cuando paso el mause
*/
.color-verde:hover{
    background-color: darkred;
}

